.example-form {
  display: flex;
  justify-content: center;
  

  
}
.example-checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.example-checkbox span{
  font-size: 18px;
}
.example-checkbox input{
  font-size: 30px;

}
.contain{
  width: 100%;
  border-radius: 10px;
  margin: 1rem 15rem;
  padding: 1rem;
  background: #f2f2f2;
}
.title{
  font-weight: 500;
  font-size: 18px;
}

.example-margin {
  
  color: #000 !important;
}
.data-publisher {
  
}


.example-full-width {
  width: 100%;
}



section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  width: 100%;
}

.example-button-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}