<form class="example-form p-20 " [formGroup]="myForm">
    <div class="contain">
        <h4 class="title"> Crear noticia</h4>

        <mat-form-field class="example-full-width">
            <mat-label>Titulo de la noticia</mat-label>
            <input matInput formControlName="title" placeholder="Teremoto 2010">
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Bajada de titulo</mat-label>
            <input formControlName="SubTitle" name="SubTitle" matInput placeholder="Ex. Pizza">
            <mat-error *ngIf="SubTitle.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>
        
        
        <div class="NgxEditor__Wrapper editor">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="conten" [toolbar]="toolbar" [placeholder]="'Type here...'"></ngx-editor>
        </div>
        <mat-error *ngIf="conten.invalid">{{getErrorMessage()}}</mat-error>
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Contenido</mat-label>
            <textarea formControlName="conten" matInput placeholder="Ex. It makes me feel..."></textarea>
            <mat-error *ngIf="conten.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> -->


        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="typeNews" name='typeNews' >
                <mat-option  *ngFor="let type of types" [value]="type.name">
                    {{type.id}} - {{type.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="typeNews.invalid && (title.dirty || title.touched)">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        
        <section class="example-section">
            <mat-checkbox formControlName="topnews"  class="example-margin">noticia destacada</mat-checkbox>
            
          </section>
        <h4 class="title"> Informacion del publicador</h4>
        <div class="data-publisher">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre y Apellido</mat-label>
                <input formControlName="publisherName" matInput placeholder="Louvendy">
                <mat-error *ngIf="publisherName.invalid && (publisherName.dirty || publisherName.touched)">
                    <div *ngIf="publisherName.hasError('required')">
                        {{getErrorMessage()}}
                    </div>
                    <div *ngIf="publisherName.hasError('pattern')">
                        El campo deve contener solo letras
                    </div>

                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Profecion</mat-label>
                <mat-select formControlName="publisher_job" name='publisher_job' >
                    <mat-option  *ngFor="let job of jobs" [value]="job.name">
                        {{job.id}} - {{job.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="typeNews.invalid && (title.dirty || title.touched)">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
        </div>


        <mat-dialog-actions align="end">
            <button mat-raised-button  mat-dialog-close>Cancel</button>
            
            <button mat-raised-button color="primary" (click)=" saveForm()">Guardar</button>
        </mat-dialog-actions>
        

    </div>
</form>
